[submodule "external/MicroMouseTemplate"]
	path = external/MicroMouseTemplate
	url = https://github.com/nicollsf/MicroMouseTemplate.git
[submodule "external/micropython"]
	path = external/micropython
	url = https://github.com/micropython/micropython.git
